
@import '~antd/dist/antd.css';

.layout-link {
    margin: 4px 8px;
}

/* antd 演示样式 */

.code-box-demo {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ebedf0;
}

.ant-btn {
    margin: 4px 8px;
}