
.layout-link {
    margin: 4px 8px;
}

.demo-flex-box {
    display:flex;
}

.demo-block {
    display: block;
    padding: 4px;
}

.demo-button {
    display: inline-block;
    margin: 8px 8px;
}

.demo-title-box {
    display: flex;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
}

/* antd 演示样式 */

.margin-10 {
    margin: 10px;
}

.margin-20 {
    margin: 20px;
}

.space-10 {
    margin-left: 10px;
    margin-top: 10px;
}

.box01 {
    margin: 16px 8px;
    padding: 4px 8px;
    background: #00a0e9;
}

.box02 {
    padding: 4px 8px;
    background: #9ed2eb;
}

.code-box-demo {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ebedf0;
}

.ant-btn {
    margin: 4px 8px;
}

.jowo-react-json-view.icon-hidden .icon-container{
    display:none!important;
}